.edgeRate {
    height: 100vh;

    .mainRate {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        .rateHeader {

            h2 {
                color: $gray;
            }
        }

        .rateDescription {
            display: flex;

            ul {
                display: flex;
                flex: 1;
                
                li {
                    margin-right: 40px;

                    &:last-child {
                        margin-right: 0;
                    }

                    a {
                        font-size: 18px;
                        color: $black;

                        &:hover {
                            display: table;
                            border-bottom: 1px solid $black;
                            line-height: 25px;
                        }
                    }
                }
            }

            .rateGreenTariff {
                flex: 1;

                h3 {
                    font-size: 18px;
                    color: $black;
                }
            }
        }

        .rateAbout {
            display: flex;
            height: 525px; // проверить после флекса

            .rateAboutContent {
                display: flex;
                flex-direction: column;
                flex: 1;

                .rateAboutContentPrice {
                    display: flex;
                    flex: 1;

                    .rateAboutContentPriceImg {
                        flex: 1;
                        background-image: url(../assets/images/roof.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .rateAboutContentPriceText {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        flex: 1;
                        margin: 0 40px;

                        .rateAboutContentPriceTextSale {

                            p {
                                color: $black;
                                font-size: 14px;
                                font-weight: 400;
                            }  
                        }

                        .rateAboutContentPriceTextArrow {
                            display: flex;
                            
                            .rateAboutContentPriceTextArrowItem {
                                margin-right: 22px;

                            &:last-child {
                                margin-right: 0;
                            }
                            }
                        }
                    }
                }

                .rateAboutContentGuarantee {
                    flex: 1;
                }
            }

            .rateAboutImg {
                flex: 1;
                background-image: url(../assets/images/cottage.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                
            }
        }
    }
}