.edgeClient {
    height: 600px;

    @include tablets {
        height: 700px;
    }

    .mainClient {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        .clientHeader {

            h2 {
                color: $gray;
            }
        }

        .clientTariff {
            display: flex;

            @include tablets {
                flex-direction: column;
            }

            .clientTariffHouse {
                flex: 1;

                .clientTariffHouseImg {
                    background: url(../assets/images/villa.jpg) no-repeat center;
                    background-size: cover;
                    height: 370px;

                    @include phones {
                        height: 300px;
                    }
                }

                .clientTariffHouseArrow {
                    display: flex;
                    justify-content: center;

                    .clientTariffHouseArrowItem {
                        margin-right: 22px;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }

            .clientTariffContent {
                flex: 1;
                margin-right: 25px;
                margin-left: 90px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include laptop {
                    margin-right: 0;
                    margin-left: 50px;
                }

                @include tablets {
                    margin: 0;
                }

                .clientTariffContentDescription {

                    h3 {
                        text-transform: none;
                        margin-bottom: 30px;

                        @include tablets {
                            margin-top: 30px;
                        }
                    }

                    ul {

                        li {
                            color: $black;
                            font-size: 14px;
                            font-weight: 400;
                            margin-bottom: 15px;

                            @include tablets {
                                margin-bottom: 10px;
                            }

                            @include phones {
                                font-size: 12px;
                                margin-bottom: 5px;
                            }

                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                }

                .clientTariffContentButton {

                    @include tablets {
                        margin-top: 15px;
                    }

                    a {
                        color: $black;
                        font-size: 18px;
                        font-weight: 400;
                        text-transform: none;

                        @include phones {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}