.edgeStation {
    height: 500px;
    background: url(../assets/images/station.jpg) no-repeat center;
    background-size: cover;

    .mainStation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        p {
            font-size: 46px;
            font-weight: 400;
            color: $white;
            text-align: center;
            max-width: 705px;

            @include laptop {
                font-size: 36px;
            }

            @include tablets {
                font-size: 32px;
            }

            @include phones {
                font-size: 28px;
            }
        }
    }
}