.edgeHeader {
    height: 100vh;
    background: url(../assets/images/background.jpg) no-repeat center;
    background-size: cover;
    
    .container {
        @include tablets {
            width: 100%;
        }

        @include phones {
            width: 95%;
        }
    
        .mainHeader {
            height: 100%;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: space-around;

            .headerLogo {
                img {
                    
                    @include tablets {
                        max-width: 170px;
                        height: auto;
                    }

                    @include tablets {
                        max-width: 150px;
                        height: auto;
                    }
                }
            }

            header {

                p {
                    color: $white;
                    font-size: 18px;
                    font-weight: 400;

                    @include tablets {
                        font-size: 16px;
                    }

                    @include phones {
                        font-size: 14px;
                    }
                }

                h1 {
                    color: $white;
                    text-transform: none;

                    @include phones {
                        margin: 10px 0;
                    }
                }

                span {
                    color: $white;
                    font-size: 42px;
                    font-weight: 400;

                    @include tablets {
                        font-size: 28px;
                    }

                    @include phones {
                        font-size: 24px;
                    }
                }
            }

            .headerButton {
                
                //@include arrowNextBefore;

                .arrow-1 {
                    // cursor: pointer;
                    position: relative;
                    width: 40px;
                    height: 50px;
                    display: flex;
                }
                .arrow-1 div {
                    position: relative;
                    top: 20px;
                    width: 90px;
                    height: 2px;
                    background-color: $white;
                    box-shadow: 0 3px 5px $white(0, 0, 0, .2);
                    left:0;
                    display: block;
                    border-radius: 5px;
                }
                .arrow-1 div::after {
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 2px;
                    top: -5px;
                    right: -3px;
                    background-color: $white;
                    transform: rotate(45deg);
                    border-radius: 5px;
                }
                .arrow-1 div::before {
                    content: '';
                    position: absolute;
                    width: 15px;
                    height: 2px;
                    top: 5px;
                    right: -3px;
                    background-color: $white;
                    box-shadow: 0 3px 5px $white(0, 0, 0, .2);
                    transform: rotate(-45deg);
                    border-radius: 5px;
                }

                a {
                    color: $white;
                    font-size: 18px;
                    font-weight: 400;

                    @include tablets {
                        font-size: 16px;
                    }

                    @include phones {
                        font-size: 14px;
                    }
                }
            }

            .headerIcons {
                
                display: flex;
                justify-content: center;

                a {
                    display: flex;
                    margin-right: 20px;

                    &:last-child {
                        margin-right: 0;
                    }

                    svg {
                        height: 30px;
                        width: 30px;
                        fill: white;

                        @include tablets {
                            height: 25px;
                            width: 25px;
                        }

                        @include phones {
                            height: 20px;
                            width: 20px;
                        }
                    }
                }
            }
        }
    }
}